<html>
<head>
    <title>Form Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Form Page</h1>
    <h1>ENTER the Details</h1>
    <form id="registrationForm">
        {% csrf_token %}
        <input type="text" name="sname" placeholder="Student Name">
        <input type="email" name="semail" placeholder="Enter Email">
        <input type="text" name="scourse" placeholder="Enter Course">
        <input type="submit" value="SUBMIT">
    </form>
    <div id="message"></div>
    <h3><a href="{% url 'homefunvar' %}">GO back to home</a></h3>
    <script>
        $(document).ready(function(){
            $('#registrationForm').on('submit', function(event){
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'formfunvar' %}",
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'sname': $('input[name=sname]').val(),
                        'semail': $('input[name=semail]').val(),
                        'scourse': $('input[name=scourse]').val(),
                    },
                    success: function(response){
                        $('#message').html('<h1>' + response.message + '</h1>');
                    }
                });
            });
        });
    </script>
</body>
</html>
